# Gcode files are very specific individual printers
*.gcode

# Ignore list for Eagle PCB layout tool
*.s#?
*.b#?
*.l#?
eagle.epf
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.drd
*.drd.*
*.info
*.eps
